body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.progress-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-circle {
  display: block;
  height: 130px;
  margin-right: 70px;
}

.progress-buttons {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.progress-button__container {
  width: 150px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.progress__input {
  box-sizing: border-box;
  width: 45px;
  height: 28px;
  margin-right: 30px;
  text-align: center;
  border-radius: 34px;
  border: 2px solid black;
}

.progress-switch__container {
  width: 150px;
  height: 35px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.progress-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  margin-right: 30px;
  height: 28px;
}

.progress-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #005cff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #005cff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 420px) {
  .progress-circle {
    margin-right: 40px;
  }
}

@media (max-width: 350px) {
  .progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .progress-circle {
    display: block;
    margin-right: 0;
    /* margin-bottom: 60px; */
  }
  .progress-buttons {
    margin-top: 60px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
